@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

/* 1. Universal Selector */
* {
    background-color: lightgray;
}

/* 2.  Element Selector */
h1 {
    color: #0cbd06;
    font-family: "Courier Prime", monospace;
}

/* 3. Class Selector */
.my-h1 {
    color: #dd3300;
    font-family: "Courier Prime", monospace;
    font-size: 35px;
}

/* 4. ID Selcetor */
#selector-types {
    color: purple;
}

/* 5. Attribute Selector */
[disabled] {
    font-size: 20px;
    color: red;
}

p {
    font-size: 20px;
    color: red;
}

.my-paragraph {
    color: blue;
}

#id-paragraph {
    color: #0cbd06;
}

.my-div h4 {
    color: red;
}

.my-h4 {
    color: rgb(11, 230, 211); /*Ovo ne radi zato sto je gornji kod specificnije opisan i zato ima veci prioritet*/
}