.main-wrapper div {
    border: 1px solid black;
    padding: 20px;
    height: 300px;
}

.main-wrapper {
   height: 100vh;
   display: flex;
   /*flex-direction: row;*/ /*? row its defaul value */
   flex-wrap: wrap;
}

.box-num1 {
    flex-grow: 1;
}

.box-num2 {
    flex-grow: 3;
}

.box-num3 {
    flex-grow: 1;
}