body {
    margin: 0;
}

.main-wrapper div {
    border: 1px solid black;
    padding: 20px;
    /* height: 300px; */
}

.main-wrapper {
    /* ! flex-direction: row */
   /* height: 100vh;
   display: flex; */
   /*flex-direction: row;*/ /* ? row its defaul value */
   /* flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: flex-end; */

   /* ! flex-direction: column */
   height: 100vh;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   /* flex-flow: row wrap; */ /* ? Shorthand property for direction and wrap*/
   justify-content: space-around;
   align-items: flex-end;
   gap: 15px;
}

.box-num1 {
    flex-basis: 250px;
    flex: 1 0 auto; /* ? Shorthand property -> flex-grow, flex-shrink, flex-basis*/
    align-self: baseline;
    /* flex-grow: 1;
    order: 2; */
}

.box-num2 {
    flex-basis: 250px;
    /* flex-grow: 3;
    order: 1; */
}

.box-num3 {
    flex-basis: 250px;
    /* flex-grow: 1;
    order: 3; */
}

/* 
 * 1. flex-direction: row -> justify-content is X axis align items is Y axis.
 * 2. flex-direction: column -> justify-content is Y axis align items X axis.
*/