* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main-grid-wrapper {
    display: grid;
    width: 90%;
    margin: 0 auto;
    /* ? Setting height of rows */
    grid-template-rows: 300px 200px;

    /* ? Setting width and numbers of columns */
    /* grid-template-columns: 200px 400px 250px; */
    /* grid-template-columns: repeat(3, 300px); */
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 1fr 3fr 1fr;

    /* ? Setting gap */
    /* row-gap: 50px; */
    /* column-gap: 50px; */
    gap: 25px;
    grid-auto-rows: 200px;
}

.box {
    background: rgb(199, 231, 199);
    border: 1px solid black;
    padding: 20px;
}

.box:nth-child(even) {
    background: rgb(131, 180, 131);
}