.first-div {
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 15px;
}

.first-div h1 {
    position: static;
}

.second-div {
    border: 1px solid red;
    width: 500px;
    height: 500px;
    background-color: lightgray;
    margin: 0 auto;
    position: relative;
}

.second-div .box-1 {
    border: 1px solid black;
    background-color: rgb(224, 198, 198);
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 30px;
    left: 40px;
    /* position: relative;
    top: 0;
    right: 40px; */
}

.second-div .box-2 {
    border: 1px solid black;
    background-color: rgb(217, 231, 203);
    width: 100px;
    height: 100px;
    position: fixed;
    top: 0;
    left: 15px;
    /* position: relative;
    top: -20px;
    left: 50px; */
}

nav {
    position: sticky;
    top: 10px;
    color: red;
    font-weight: bolder;
}