@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
/* 
    font-family: "Courier Prime", monospace;
    font-family: "Source Code Pro", monospace;
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fef9f8;
}

.main-header {
    border-top: 10px solid #ef9273;
    padding: 20px;
    width: 100%;
    border-bottom: 5px solid #fff;
}

.main-header .main-header__logo {
    display: inline-block;
    font-family: "Source Code Pro", monospace;
    font-size: 25px;
    font-weight: bolder;
    vertical-align: middle;
}

.main-header__logo a {
    color: #0d0d0d;
    text-decoration: none;
}

.main-header .main-nav {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    width: calc(100% - 200px);
}

.main-nav__items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-nav__item {
    display: inline-block;
    margin-left: 50px;
}

.main-nav__item a {
    font-family: "Source Code Pro", monospace;
    font-size: 25px;
    color: #0d0d0d;
    text-decoration: none;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}