@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
/* 
    font-family: "Courier Prime", monospace;
    font-family: "Source Code Pro", monospace;
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fef9f8;
}