@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
/* 
    font-family: "Courier Prime", monospace;
    font-family: "Source Code Pro", monospace;
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fef9f8;
}

.main-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-top: 10px solid #ef9273;
    padding: 20px;
    /* width: 100%; */
    border-bottom: 5px solid #fff;
}

.main-header .main-header__logo {
    /* display: inline-block; */
    font-family: "Source Code Pro", monospace;
    font-size: 25px;
    font-weight: bolder;
    vertical-align: middle;
}

.main-header__logo a {
    color: #0d0d0d;
    text-decoration: none;
}

.main-header .main-nav {
    /* display: inline-block; */
    text-align: right;
    vertical-align: middle;
}

.main-nav__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-nav__item {
    display: flex;
    /* display: inline-block; */
    margin-left: 50px;
}

.main-nav__item a {
    font-family: "Source Code Pro", monospace;
    font-size: 25px;
    color: #0d0d0d;
    text-decoration: none;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.li-first {
    margin-right: 25px;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: #fef9f8;
    background: #ef9273;
    border-radius: 40px;
}

.hero-wrapper {
    /* width: 100vw; */
    /* height: 500px; */
    padding: 20px;
    font-family: "Courier Prime", monospace;
    width: 100%;
    height: 50vh;
    background-image: url(./assets/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}