@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
/* 
    font-family: "Courier Prime", monospace;
    font-family: "Source Code Pro", monospace;
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fef9f8;
}

.main-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-top: 10px solid #ef9273;
    padding: 20px;
    border-bottom: 5px solid #fff;
}

.main-header .main-header__logo {
    font-family: "Source Code Pro", monospace;
    font-size: 25px;
    font-weight: bolder;
    vertical-align: middle;
}

.main-header__logo a {
    color: #0d0d0d;
    text-decoration: none;
}

.main-header__logo a img {
    width: 60px;
    height: 60px;
}

.main-header .main-nav {
    text-align: right;
    vertical-align: middle;
}

.main-nav__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-nav__item {
    display: flex;
    margin-left: 50px;
}

.main-nav__item:nth-child(1),
.main-nav__item:nth-child(2) {
    margin-right: 25px;
}

.main-nav__item a {
    font-family: "Source Code Pro", monospace;
    font-size: 25px;
    color: #0d0d0d;
    text-decoration: none;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.li-first {
    margin-right: 25px;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: #fef9f8;
    background: #ef9273;
    border-radius: 40px;
}

.hero-wrapper {
    padding: 20px;
    font-family: "Courier Prime", monospace;
    width: 100%;
    height: 50vh;
    background-image: url(./assets/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.plans-wrapper {
    margin: 50px auto; 
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.plans-wrapper__article {
    background: #f9e0d7;
    border: 1px solid black;
    min-height: 400px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.25);
}

.plans-wrapper__article h1:nth-child(2) {
    font-family: "Courier Prime", monospace;
    font-weight: bold;
    font-size: 28px;
    text-decoration: underline;
    text-align: center;
    text-underline-offset: 5px;
}

.plans-wrapper__article.advanced {
    order: 2;
    background: #eb9a7f;
    min-height: 450px;
}

.plans-wrapper__article.basic {
    order: 1;
}

.plans-wrapper__article.intermediate{
    order: 3;
}

.plans-wrapper__article ul li {
    list-style: circle;
}


.plans-wrapper .plans-wrapper__title {
    text-align: center;
    flex-basis: 100%;
    font-family: "Courier Prime", monospace;
    font-size: 45px;
}