@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Source+Code+Pro:ital@0;1&display=swap');
/* 
font-family: "Courier Prime", monospace;
font-family: "Source Code Pro", monospace;
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fef9f8;
}

/* ! Main Header */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 10px solid #ef9273;
    padding: 20px;
    width: 100%;
    border-bottom: 5px solid #fff;
}

.main-header .main-header__logo {
    font-family: "Source Code Pro", monospace;
    font-size: 25px;
    font-weight: bolder;
} 

.main-header__logo a {
    color: #0d0d0d;
    text-decoration: none;
}

.main-header .main-nav {
    text-align: right;
    vertical-align: middle;
    /* width: calc(100% - 180px); */
}

.main-nav__items {
    display: flex;
    /* list-style-type: none; */
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-nav__item {
    display: inline-block;
    white-space: nowrap;
}

.main-nav__item a {
    font-family: "Source Code Pro", monospace;
    font-size: 25px;
    color: #0d0d0d;
    text-decoration: none;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.li-first {
    margin-right: 25px;
}

.main-nav__item a:hover,
.main-nav__item a:active  {
    color: #fef9f8;
    background-color: #ef9273;
    border-radius: 40px;
}

/* ! Hero Section */
.hero-wrapper {
    padding: 20px;
    font-family: "Courier Prime", monospace;
    width: 100%;
    /* width: 100vw; */
    /* height: 500px; */
    height: 50vh;
    background-image: url(./assets/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}